<div data-sly-use.caConfigReader="subbu.blogspot.wcmaem.core.models.CaConfigReader">
    <ul>
        <li>Release date format: ${caConfigReader.releaseDateFormat}</li>
        <li>Logo Image path : ${caConfigReader.logoImage}</li>
        <li>Logo link: ${caConfigReader.logoImageLink}</li>
        <li>Logo Alt text: ${caConfigReader.logoImageAltText}</li>
        <li>Dropdown: ${caConfigReader.dropDown}</li>
        <li>Multi values from dropdown: ${caConfigReader.stringMultivalueDropdownParam}</li>
        <li>Arry(multifiled) ${caConfigReader.stringArrayParam}</li>
    </ul>
</div>