<div data-sly-use.caConfigReader="subbu.blogspot.caconfig.core.models.CaConfigReader">
   <h1>Site Configurations</h1>
    <ul>
        <li>Release date format: ${caConfigReader.releaseDateFormat}</li>
        <li>Logo Image path : ${caConfigReader.logoImage}</li>
        <li>Logo link: ${caConfigReader.logoImageLink}</li>
        <li>Logo Alt text: ${caConfigReader.logoImageAltText}</li>
        <li>Dropdown: ${caConfigReader.dropDown}</li>
        <li>Multi values from dropdown: ${caConfigReader.stringMultivalueDropdownParam}</li>
        <li>Arry(multifiled) ${caConfigReader.stringArrayParam}</li>
    </ul>
</div>
<h1>Footer Menu</h1>
<ul data-sly-repeat.menu=${caConfigReader.footerConfig.menu}>
	<li data-sly-repeat.link=${menu.links}>
    		Menu link text : ${link.linkText}<br>
            Menu link : ${link.link}
    </li>
</ul>

<h1> Collection Examples</h1>
<ul>
	<li data-sly-repeat.link=${caConfigReader.linksList}>
    		Link Name : ${link.name}<br>
            Page path : ${link.pagePath}
    </li>
</ul>

<h1>Reading configurtions directly in HTL</h1>
${caconfig['subbu.blogspot.caconfig.core.slingcaconfig.SiteConfiguration'].stringArrayParam}